/*
 * @author Damian Duda <dduda@nexway.com>
 */

// LAYOUT

body {

    header {
        padding: 40px 0;
        background: #999;
    }

    section {
        background: #eee;
        min-height: 300px;

        .container > div {
            padding-top: 20px;
        }
    }

    footer {
        background: #466BA3;
        padding: 40px 0;
    }
}