/*
 * @author Damian Duda <dduda@nexway.com>
 */

// LAYOUT
body {
    min-width: 100%;
    header {
        padding: 20px 0;
        text-align: center;

        h1 {
            font-family: 'Capriola', sans-serif;
            font-size: 30px;
        }
    }

    section {
        min-height: 300px;

        .wraper-answers, .wraper-users {
         
        }

        .wraper-answers {
            float: left;
            width: 40%;
        }

        .wraper-users {
            float: right;
            width: 40%;
        }
    }

}