/*
 * @author Mariusz Maroń <mmaron@nexway.com>
 */

// LAYOUT

body {
    section {
        .person {
            background: rgba(0,0,0,.4);
            padding: 10px;
            .box-shadow(0 0 10px 0 rgba(36, 83, 175, .9));
            display: inline-block;
            margin: 20px;
            .image {
                text-align: center;
                img {
                    float: left;
                }
            }
            .total-points {
                text-align: center;
                font-size: 18px;
                color: #fff;
            }
            .answers {
                text-align: center;
                .good, .bad {
                }
                .good {
                    color: #6EAD3E;
                    &:before {
                        content: "Good: ";
                    }
                }
                .bad {
                    color: #A52D2B;
                    &:before {
                        content: "Bad: ";
                    }
                }
            }
            &.normal {
                .square(220px);
                .image {
                    .square(200px);
                }
            }
            &.small {
                .square(120px);
                .image {
                    .square(100px);
                    background-size: 70px 70px !important;
                }
            }
            &.active {
                .box-shadow(0 0 30px 0 rgba(237, 175, 61, .6));
                border: 2px solid rgb(237, 175, 61);
                -webkit-animation: 1600ms pulsate infinite alternate ease-in-out;
                -moz-animation: 1600ms pulsate infinite alternate ease-in-out;
                -ms-animation: 1600ms pulsate infinite alternate ease-in-out;
                -o-animation: 1600ms pulsate infinite alternate ease-in-out;
                animation: 1600ms pulsate infinite alternate ease-in-out;
                
            }
            &.chosen {
                .box-shadow(0 0 30px 0 rgba(73, 223, 63, .6));
                border: 2px solid rgb(73, 223, 63);
                .image {
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        border-color: rgb(73, 223, 63);
                        border-style: solid;
                        border-width: 0 15px 15px 0;
                        height: 80px;
                        left: 40%;
                        top: 30%;
                        margin-top: -11px;
                        transform: rotate(45deg);
                        width: 40px;
                    }
                    img {
                        .opacity(0.2);
                    }
                }
            }   
            &.mini {
                padding: 5px;
                .square(50px);
                .image {
                    .square(30px);
                    background-size: 30px 30px !important;
                }
                &.empty {
                    .image {
                        .square(40px);
                    }
                }
        }
            &.empty {
                .image {
                    background: url(../img/question-mark-icon.png) center center no-repeat;
                    img {
                        display: none;
                    }
                }
            }
        }
    }
}