/*
 * @category    design
 * @author      Damian Duda <dduda@nexway.com>
 */

@image-path:    "../img";
@fonts-path:    "../fonts";

@font-family-1: Arial,sans-serif;
@font-family-2: 'Capriola', sans-serif;

@font-icons-1: 'FontAwesome',sans-serif;


/* ---------------------------------------------------------------------
----------------------------------------------------------------------*/

@container-width:                                       100%;

// general
@body-background-color:                                 #000;
@main-text-color:                                       #d9db53;
@body-text-shadow:                                      1px 1px 1px rgba(0,0,0,.2);
